{% extends 'admin\layout.html' %}
{% block title %}Edit Package{% endblock title %}

{% block body %}
<div class="container">
    <div class="col-md-12 mt-6">
        <div class="content-section card">
            <a href="{{url_for('admin.listpackage')}}" class="btn btn-warning mb-2">Back</a>
        </div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Edit Package
                </legend>
                <div class="form-group">
                    {{ form.package_awb.label(class="form=control-label")}}
                    {% if form.package_awb.errors %}
                        {{ form.package_awb(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.package_awb.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.package_awb(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock body %}